NEXT_PUBLIC_API_ORIGIN=http://127.0.0.1:4010
EXPO_PUBLIC_API_ORIGIN=http://127.0.0.1:4010

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_DATA_SOURCE=mock
EXPO_PUBLIC_DATA_SOURCE=mock
