# Dependencies
node_modules
.pnpm-store

# Nx
.nx/cache
.nx/workspace-data
dist
tmp
coverage

# Expo
apps/app/.expo
apps/app/dist
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build

# Next
apps/web/.next
apps/web/out
.vercel

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / test artifacts
*.tsbuildinfo
apps/web/test-results/
apps/web/playwright-report/
apps/app/artifacts/
